*/build/
*/.vscode/
.DS_Store
floyd/in.txt
temp/MPIFloyd/.vscode/launch.json
temp/MPIFloyd/.vscode/settings.json
.gitignore
temp/MPIFloyd/build/cmake_install.cmake
temp/MPIFloyd/build/CMakeCache.txt
temp/MPIFloyd/build/compile_commands.json
temp/MPIFloyd/build/Makefile
temp/MPIFloyd/build/MPIFloyd
temp/MPIFloyd/build/test
temp/MPIFloyd/build/.cmake/api/v1/query/client-vscode/query.json
temp/MPIFloyd/build/.cmake/api/v1/reply/cache-v2-2effa29e259a47cac96c.json
temp/MPIFloyd/build/.cmake/api/v1/reply/codemodel-v2-a4ea2c63dbde54a1ade2.json
temp/MPIFloyd/build/.cmake/api/v1/reply/index-2021-01-01T13-47-35-0426.json
temp/MPIFloyd/build/.cmake/api/v1/reply/target-test-Debug-b5199cdaad72e0157f96.json
temp/MPIFloyd/build/CMakeFiles/cmake.check_cache
temp/MPIFloyd/build/CMakeFiles/CMakeDirectoryInformation.cmake
temp/MPIFloyd/build/CMakeFiles/CMakeOutput.log
temp/MPIFloyd/build/CMakeFiles/Makefile.cmake
temp/MPIFloyd/build/CMakeFiles/Makefile2
temp/MPIFloyd/build/CMakeFiles/progress.marks
temp/MPIFloyd/build/CMakeFiles/TargetDirectories.txt
temp/MPIFloyd/build/CMakeFiles/3.16.2/CMakeCCompiler.cmake
temp/MPIFloyd/build/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
temp/MPIFloyd/build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
temp/MPIFloyd/build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
temp/MPIFloyd/build/CMakeFiles/3.16.2/CMakeSystem.cmake
temp/MPIFloyd/build/CMakeFiles/3.16.2/CompilerIdC/a.out
temp/MPIFloyd/build/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
temp/MPIFloyd/build/CMakeFiles/3.16.2/CompilerIdCXX/a.out
temp/MPIFloyd/build/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
temp/MPIFloyd/build/CMakeFiles/FindMPI/test_mpi_C.bin
temp/MPIFloyd/build/CMakeFiles/FindMPI/test_mpi_CXX.bin
temp/MPIFloyd/build/CMakeFiles/FindMPI/test_mpi.cpp
temp/MPIFloyd/build/CMakeFiles/MPIFloyd.dir/build.make
temp/MPIFloyd/build/CMakeFiles/MPIFloyd.dir/cmake_clean.cmake
temp/MPIFloyd/build/CMakeFiles/MPIFloyd.dir/CXX.includecache
temp/MPIFloyd/build/CMakeFiles/MPIFloyd.dir/depend.internal
temp/MPIFloyd/build/CMakeFiles/MPIFloyd.dir/depend.make
temp/MPIFloyd/build/CMakeFiles/MPIFloyd.dir/DependInfo.cmake
temp/MPIFloyd/build/CMakeFiles/MPIFloyd.dir/flags.make
temp/MPIFloyd/build/CMakeFiles/MPIFloyd.dir/link.txt
temp/MPIFloyd/build/CMakeFiles/MPIFloyd.dir/progress.make
temp/MPIFloyd/build/CMakeFiles/test.dir/build.make
temp/MPIFloyd/build/CMakeFiles/test.dir/cmake_clean.cmake
temp/MPIFloyd/build/CMakeFiles/test.dir/CXX.includecache
temp/MPIFloyd/build/CMakeFiles/test.dir/depend.internal
temp/MPIFloyd/build/CMakeFiles/test.dir/depend.make
temp/MPIFloyd/build/CMakeFiles/test.dir/DependInfo.cmake
temp/MPIFloyd/build/CMakeFiles/test.dir/flags.make
temp/MPIFloyd/build/CMakeFiles/test.dir/link.txt
temp/MPIFloyd/build/CMakeFiles/test.dir/progress.make
temp/MPIFloyd/build/CMakeFiles/test.dir/src/test.cpp.o
实验报告/main.aux
实验报告/main.log
实验报告/main.out
实验报告/main.pdf
实验报告/main.synctex.gz
实验报告/main.tex
实验报告/main.toc
